@media (max-width: 1199px) {
  .caracteristicas-imagenes img:nth-child(2) {
    max-width: 392px;
  }
  .cuidado-calzado {
    padding: 35px 70px;
  }
}
@media (max-width: 991px) {
  .carousel-control-next {
    right: 5px;
  }
  .carousel-control-prev {
    left: 5px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-size: 70%;
    width: 36px;
    height: 46px;
  }
  .caracteristicas-imagenes img:first-child, .caracteristicas-imagenes img:last-child {
    display: none;
  }
  .caracteristicas-imagenes img:nth-child(2) {
    padding: 0 20px;
  }
  .sec-celeste {
    padding-top: 40px;
  }
  .nosotras {
    text-align: center;
  }
  .univ-loria {
    margin-top: 40px;
  }
  .contacto {
    text-align: center;
  }
  .borde {
    display: none;
  }
  .datos, .pie {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }

  .carousel-frase h1 {
    font-size: 70px;
  }

  .carousel-frase h4 {
    font-size: 30px;
  }

  .carousel-frase-ribbon {
    bottom: -31px;
  }
  .caracteristicas .texto {
    max-width: inherit;
  }
  .caracteristicas-imagenes {
    order: 2;
  }
  .caracteristicas-suelas {
    order: 3;
    text-align: center;
  }
  .caracteristicas-costuras {
    order: 1;
    text-align: center;
  }
  .alineacion-baja {
    display: flex;
  }
  .btn-wp {
    right: -50px;
  }
  .btn-wp img {
    width: 60%;
  }
}

@media (max-width: 567px) {
  .carousel-indicators {
    display: none;
  }
  .carousel-frase h1 {
    font-size: 40px;
  }

  .carousel-frase h4 {
    font-size: 15px;
  }

  .carousel-frase {
    top: 66%;
    transform: translate(-50%, -68%);
  }

  .carousel-frase h4 {
    margin-top: -11px;
    padding-left: 81px;
  }
  .ribbon-content {
    font-size: 12px;
    letter-spacing: 0.8px;
  }

  .ribbon:before {
    left: -18px;
    border-right-width: 6.5em;
    border: 12px solid #ffdb00;
    border-left-color: transparent;
  }

  .ribbon:after {
    right: -18px;
    border: 12px solid #ffdb00;
    border-right-color: transparent;
  }

  .ribbon {
    padding: 0;
  }
  .caracteristicas h1 {
    font-size: 58px;
  }
  .caracteristicas h2 {
    font-size: 37px;
  }
  .semi-circulo {
    width: 275px;
    height: 125px;
  }
  .semi-circulo h1 {
    font-size: 56px;
    margin-top: -15px;
  }
  .semi-circulo h3 {
    font-size: 15px;
  }
  .cuidado-calzado {
    padding: 35px 30px;
  }
}
